* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --browser-height: 100vh;
    --primary-color: #596D48;
}

body {
    height: var(--browser-height);
}

.container {
    display: flex;
    height: var(--browser-height);
}

.img-container {
    position: relative;
    width: 30rem;
    height: var(--browser-height);
}

.img-container > img {
    width: inherit;
    height: var(--browser-height);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin-top: 5em;
    font-size: 35px;
}

img[src*="odin"] {
    height: 3em;
    width: auto;
}

.logo h1 {
    display: inline-block;
    color: white;
    font-size: 2em;
}

.content {
    display: flex;
    height: var(--browser-height);
    flex-direction: column;
    background-color: rgb(233, 233, 233);
}

.text-content {
    margin: 50px;
    font-size: 25px;
}

.text-content p:nth-child(3){ 
    margin-top: 1em;
}

fieldset {
    border: none;
}

.input-container{
    background-color: white;
    font-size: 1.5em;
}

fieldset {
    display: flex;
    font-size: 15px;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 5px 10px -8px rgb(62, 62, 62);
}

legend {
    font-size: 2em;
    padding: 10px;
}

label {
    display: inline-block;
}

input {
    display: inline-block;
    height: 2em;
    width: 25em;
    margin-bottom: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

input:invalid {
    border: 2px solid red;
}

input:focus {
    outline: none;
    box-shadow: 0px 9px 10px -8px rgb(62, 62, 62);
    border: 2px solid blue;
}

.button-container {
    margin-left: 20px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 15px;
    width: 15em;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1em;
}

.button-container p + p {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}